
<div id="messages">
  <ul id="msg-list">
    
  </ul>
</div>

<div class="input-group">
  <input class="form-control" type="text" id="input-msg" palceholder="Type here..." autocomplete="off" required=""/>
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit" id="send-btn">Send</button>
  </span>
</div>
